.insetContainer{
	&.keystoreImport{
		overflow: auto;
		padding:0;
		background: transparent url('../../../../assets/images/new/background.svg') no-repeat 0px -80px;
		.back{
			background-image:url('../../../../assets/images/new/icon-back2.svg');
		}
		.pageHeader{
			height: 56px;
			display: flex;
			flex-direction:row;
			align-items:center;
			justify-content:center;
			color: #fff;
		}
		.greyModal{
			background-color: transparent;
			display: flex;
			flex-direction:column;
			padding-top: 5px;
			.titleWrap{
				display: flex;
				justify-content: space-between;
				height: 40px;
				line-height: 40px;
				color: #FFFFFF;
				letter-spacing: 0;
				&>.title{
					font-size: 14px;
				}
				&>.uploadWrap{
					//width: 30%;
					//border: 1px dashed hsla(0,0%,93.7%,.5);
					padding-right: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					color: #FFFFFF;
					letter-spacing: 0;
					input{
						cursor: pointer;
						width: 100%;
						height: 100%;
						opacity: 0;
						position: absolute;
					}
					img{
						//background: #fd6d6d;
						height: 16px;
					}
					.text{
						font-size: 12px;
						margin-left: 8px;
					}

				}
			}
			.content{
				padding: 0;
				//border: 1px solid #f0f0f0;
				border-radius: 4px;
				background: #F7F8FA;
				textarea{
					padding-left: 10px;
					padding-right: 10px;
					font-size: 13px;
					&:hover{
						&::-webkit-scrollbar-thumb {
							border-radius: 4px;
							background: #C2C8D5;
							position:relative;
							left:-5px;
						}
					}
					&::-webkit-scrollbar {
						width: 4px;
						height: 4px;
					}
					&::-webkit-scrollbar-thumb {
						border-radius: 4px;
						background: transparent;
						position:relative;
						left:-5px;
					}
					&::-webkit-scrollbar-track {
						background: transparent;
					}
				}
				textarea::-webkit-input-placeholder {
					font-family: PingFangSC-Regular;
					font-size: 13px;
					color: #C2C8D5;
					letter-spacing: 0;
					opacity: 0.9;
				}

			}
			.uploadDesc{
				font-size: 12px;
				color: #FFFFFF;
				height: 18px;
				line-height: 18px;
				margin-top: 15px;
			}
			.passwordWrap{
				margin-top: 5px;
				//padding:0 15px 25px 15px;
				background: #FFFFFF;
				//border: 1px solid #EFEFEF;
				//box-shadow: 0 2px 14px 0 rgba(136,137,152,0.30);
				border-radius: 4px;
				.password{
					display: flex;
					flex-direction:column;
					margin-bottom: 15px;
					label{
						height: 40px;
						line-height:40px;
						font-size: 14px;
						color: #505160;
					}
					input{
						background: #F7F8FA;
						border-radius: 2px;
						height: 40px;
						border:none;
						padding:0 8px;
						font-size: 13px;
					}
					input::-webkit-input-placeholder {
						font-family: PingFangSC-Regular;
						font-size: 13px;
						color: #C2C8D5;
						letter-spacing: 0;
						opacity: 0.9;
					}
				}
			}
			.selectedFile{
				display: flex;
				flex-direction:row;
				align-items:center;
				//border-bottom: 1px solid #F7F8FA;
				background: #F7F8FA;
				border-radius: 4px;
				line-height: 40px;
				height: 40px;
				margin: 10px 0;
				&:before{
					content:'';
					width: 36px;
					height: 36px;
					background-image: url('../../../../assets/images/new/icon-file.svg');
					background-size:100%;
				}
				span{
					font-size: 14px;
					color: #76AB61;
					letter-spacing: 0;
				}
			}
			.errorWrap{
				border:1px solid #EA8465;
			}
			.tipError{
				font-size: 12px;
				color: #DB705C;
				//min-height: 18px;
				//line-height: 18px;
				margin-top:10px;
				letter-spacing: 0;
			}
		}
	}
}





