@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');
@import url('./swal.scss');

* {
    box-sizing: border-box;
}

.notive-wrap{z-index:9999}
.mono {
    font-family: 'Ubuntu Mono', monospace;
}
.fortest2{
    width: 200px;
}
.fortest{
    right: 20px;
    span{
        font-size: 13px;
    }
}
html,body,#root {
    height: 600px;
    width: 360px;
    font-family: Arial,'Source Han Sans CN','Microsoft Yahei';
    //font-family: sans-serif;
    cursor: default;
    user-select: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body {
    font-size: 12px;
    background: #353A4E;
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;
    background:#fff;
    .alertWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(3,5,26,0.60);
        z-index:999;
        padding:0 45px;
        .alert{
            margin-top: 160px;
            .body{
                color: rgba(80,81,96,.5);
            }
        }
    }
}

:focus {
    outline: none !important;
}

.insetContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    &.logoWrap{
        padding-top: 93px;
        .setLanguage{
            width: 100%;
            top: 20px;
            padding-right: 14px;
            position: absolute;
            display: flex;
            justify-content: flex-end;
            height: 30px;
            .language{
                position: relative;
                display: flex;
                height: 30px;
                width: 110px;
                padding:0 10px;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                font-size: 14px;
                &:after{
                    content:' ';
                    width: 0;
                    height: 0;
                    border:4px solid #D8D8D8;
                    border-left:4px solid transparent;
                    border-right:4px solid transparent;
                    border-bottom:4px solid transparent;
                    margin-left: 6px;
                    margin-top: 2px;
                }
                &:before{
                    content: ' ';
                    width: 16px;
                    height: 16px;
                    margin-right: 6px;
                    background-size:100%;
                    background-repeat: no-repeat;
                }
                &.en{
                    &:before{
                        background-image: url('../icon/language/icon-english.svg');
                    }
                }
                &.zh{
                    &:before{
                        background-image: url('../icon/language/icon-chinese.svg');
                    }
                }
                &.ja{
                    &:before{
                        background-image: url('../icon/language/icon-japanese.svg');
                    }
                }
                &:hover{
                    .drop{display: block}
                }
                .drop{
                    position: absolute;
                    top: 30px;
                    left: 0;
                    background: #F7F8FA;
                    border-radius: 4px;
                    width: 100%;
                    display: none;
                    font-size: 12px;
                    .item{
                        padding:0 10px;
                        height: 30px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        &:hover{
                            background-color: #EFEFEF;
                        }
                        &:before{
                            width: 14px;
                            height: 14px;
                            content: '';
                            margin-right: 10px;
                        }
                        &.en{
                            &:before{
                                background-image: url('../icon/language/icon-english.svg');
                            }
                        }
                        &.zh{
                            &:before{
                                background-image: url('../icon/language/icon-chinese.svg');
                            }
                        }
                        &.ja{
                            &:before{
                                background-image: url('../icon/language/icon-japanese.svg');
                            }
                        }
                    }
                }
            }
        }
    }
    .back{
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 56px;
        background-image: url('../images/new/icon-back.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }
    &.createOrImportWallet,
    &.writingPhrase,
    &.confirmingPhrase,
    &.mnemonicImport,
    &.privateKeyImport,
    &.choosingType,
    &.asset,
    &.choosingType2{
        justify-content: flex-start;
        padding:0;
        .pageHeader{
            position: relative;
            height: 56px;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin:0;
            .back{
                @extend .back;
            }
            .logo1{
                width: 25px;
                height: 25px;
                background-image: url('../icon/icon-logo.png');
                background-repeat: no-repeat;
                background-size:100% auto;
            }
            .logo2{
                width: 100px;
                height: 40px;
                background-image: url('../icon/mask-font-logo.png');
                background-repeat: no-repeat;
                background-size:auto 100%;
                //margin-left: 10px;
            }
        }
        .greyModal{
            position: relative;
            flex:1;
            padding:24px;
            display: flex;
            flex-direction:column;
            background-color: #F7F8FA;
            .warning{
                z-index:100;
                position: absolute;
                background: rgba(80,81,96,0.80);
                border-radius: 2px;
                color: #fff;
                font-size: 14px;
                top:50%;
                left:50%;
                padding:10px;
                transform: translate(-50%,-50%);
                transition:all 1s ease-in-out;
                opacity:0;
                display: none;
                &.show{
                    opacity:1;
                    display: block;
                }
            }
            .modalDesc {
                font-size: 12px;
                color:#888998;
                margin-bottom: 14px;
            }
            & > .walletOptions{
                flex:1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .walletOption{
                    margin:0;
                    height: 158px;
                    padding:10px 24px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .tip{
                        font-size: 12px;
                        margin-top: 10px;
                        text-align: center;
                        width: 300px;
                        color: #888998;
                    }
                    .iconWrap{
                        margin-bottom: 18px;
                        background-position: center;
                        background-repeat:no-repeat;
                    }
                    &:first-child{
                        .iconWrap{
                            width: 300px;
                            height: 40px;
                            background-image: url('../icon/ledger/icon-create.svg');
                        }
                    }
                    &:nth-child(2){
                        .iconWrap{
                            width: 300px;
                            height: 40px;
                            background-image: url('../icon/ledger/icon-import.svg');
                        }
                    }
                    &:last-child{
                        .iconWrap{
                            width: 300px;
                            height: 40px;
                            background-image: url('../icon/ledger/icon-ledger.svg');
                        }
                    }
                }
                .disabledDiv{
                    pointer-events: none;
                    opacity: 0.4;
                }
            }
        }
    }
    &.writingPhrase,
    &.confirmingPhrase,
    &.choosingType,
    &.choosingType2,
    &.mnemonicImport,
    &.privateKeyImport,
    &.asset{
        .greyModal{background-color: #fff;}
    }
    &.choosingType{
        .greyModal{
            padding:0 0 0 24px;
            .option{
                display: flex;
                justify-content: space-between;
                height: 52px;
                line-height: 52px;
                color: #515060;
                cursor: pointer;
                font-size: 16px;
                border-bottom: 1px solid #EFEFEF;
                &:after{
                    width: 40px;
                    height: 52px;
                    content: '';
                    background-image: url('../icon/icon-enter.svg');
                    background-repeat: no-repeat;
                    background-position:center;
                    transition: all .2s ease-in-out;
                }
                &.active{
                    &:after{
                        transform: rotateZ(90deg);
                    }
                }
            }
        }
    }
    &.choosingType2{
        overflow:auto;
        justify-content: space-between;
        .greyModal{
            padding:0;
            overflow:auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background: #C2C8D5;
                position:relative;
                left:-5px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            .optionsWrap{
                .option{
                    display: flex;
                    justify-content: space-between;
                    //min-height: 52px;
                    line-height: 52px;
                    color: #515060;
                    cursor: pointer;
                    font-size: 16px;
                    .txt{
                        flex:1;
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid #EFEFEF;
                        justify-content: space-between;
                        & > span{
                            font-size: 14px;
                            color: #515060;
                        }
                        & > .span{
                            display: flex;
                            justify-content: space-between;
                            font-size: 14px;
                            color: #515060;
                            .unit{
                                font-size: 14px;
                                color: #888998;
                                flex:1;
                                text-align: right;
                            }
                            &:after{
                                width: 52px;
                                height: 52px;
                                content: '';
                                background-image: url('../icon/icon-enter.svg');
                                background-repeat: no-repeat;
                                background-position:center;
                                transition: all .2s ease-in-out;
                            }
                        }

                    }
                    .settingWrap{
                        width: 300px;
                        height:0;
                        overflow:hidden;
                        transition: all 0.2s ease-in-out;
                        .unit{
                            height: 20px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                            margin-top: 10px;
                            font-size: 14px;
                            &:first-child{
                                margin-top: 0;
                            }
                            &:last-child{
                                margin-bottom: 20px;
                            }
                            &:before{
                                content:'';
                                margin-right: 14px;
                                width: 14px;
                                height: 14px;
                                border:1px solid #C2C8D5;
                                border-radius:100%;
                            }
                            &.selected{
                                &:before {
                                    width: 16px;
                                    height: 16px;
                                    background-image: url('../icon/icon-selected.svg');
                                    border: none;
                                }
                            }
                        }
                        .customButton{
                            width: 250px;
                        }
                        .nodeWrap{
                            margin-top: 4px;
                            margin-bottom: 14px;
                            width: 286px;
                            .nodeItem{
                                cursor: pointer;
                                margin-top: 10px;
                                height: 112px;
                                padding:10px 14px;
                                background:#f7f8fa;
                                border-radius:2px;
                                display: flex;
                                flex-direction: column;
                                &.selected{
                                    .title{
                                        &:after{
                                            border: none;
                                            width: 16px;
                                            height: 16px;
                                            background-image: url('../icon/icon-selected.svg');
                                        }
                                    }
                                }
                                .title{
                                    height: 22px;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;
                                    font-size:16px;
                                    color:#515060;
                                    &:after{
                                        content: "";
                                        width: 14px;
                                        height: 14px;
                                        border: 1px solid #c2c8d5;
                                        border-radius: 100%;
                                    }
                                }
                                .cell{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;
                                    height: 20px;
                                    line-height: 20px;
                                    font-size:12px;
                                    color:#888998;
                                    margin-top: 2px;
                                }
                            }
                        }
                        .input-group{
                            width: 250px;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                            label{
                                height: 20px;
                                line-height: 20px;
                                font-size: 14px;
                                color: #888998;
                            }
                            .input{
                                height: 36px;
                                line-height:36px;
                                margin-top: 10px;
                                background-color: #F7F8FA;
                                border-radius:2px;
                                input{
                                    width: 100%;
                                    height: 100%;
                                    font-size: 14px;
                                    padding:0 8px;
                                    border:none;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                    &:before{
                        width: 52px;
                        height: 52px;
                        content: '';
                        background-repeat: no-repeat;
                        background-position:center;
                    }
                    &:nth-child(1){
                        &:before{
                            background-image: url('../icon/icon-whitelist.svg');
                        }
                    }
                    &:nth-child(2){
                        &:before{
                            background-image: url('../icon/icon-node.svg');
                        }
                    }
                    &:nth-child(3){
                        &:before{
                            background-image: url('../icon/icon-language.svg');
                        }
                    }
                    &:nth-child(4){
                        &:before{
                            background-image: url('../icon/icon-auto-lock.svg');
                        }
                    }
                    &:nth-child(5){
                        &:before{
                            background-image: url('../icon/icon-lock2.svg');
                        }
                    }
                    &.active{
                        .txt{
                            & > .span{
                                &:after{
                                    transform: rotateZ(90deg);
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        &.active{
                            .settingWrap{
                                height: 190px;
                            }
                        }
                    }
                    &:nth-child(3){
                        &.active{
                            .settingWrap{
                                height: 66px;
                            }
                        }
                    }
                    &:nth-child(4){
                        &.active{
                            .settingWrap{
                                height: 160px;
                            }
                        }
                    }
                }
            }
            .version{
                min-height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: #888998;
            }
        }
    }

    &.choosingType2,&.mnemonicImport,&.privateKeyImport{
        .greyModal{
            .inputUnit{
                margin-bottom: 20px;
            }
            &.error{
                .inputUnit{
                    textarea{
                        border:1px solid #EA8465;
                    }
                    .tipError{
                        font-size: 13px;
                        color: #DB705C;
                        min-height: 18px;
                        line-height: 18px;
                        margin-top:5px;
                    }
                }
            }
            .input-group{
                &.error {
                    input{
                        border:1px solid #EA8465;
                    }
                    .tipError{
                        font-size: 12px;
                        color: #DB705C;
                        min-height: 18px;
                        line-height: 18px;
                        margin-top:5px;
                    }
                }
                .tipWarn{
                    //font-family: PingFangSC-Regular, serif;
                    font-size: 12px;
                    color: #636ACC;
                    min-height: 18px;
                    line-height: 18px;
                    letter-spacing: 0;
                    margin-top:5px;
                }
            }
        }
    }
    &.asset{
        .deleteTokenWrap{
            z-index:100;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.60);
            display: flex;
            align-items: center;
            justify-content: center;
            .deleteToken{
                background: #FFFFFF;
                border-radius: 2px;
                width: 300px;
                padding:20px 23px;
                display: flex;
                flex-direction:column;
                align-items:center;
                .title{
                    font-size: 20px;
                    color: #505160;
                    height: 28px;
                    line-height:28px;
                }
                .icon{
                    width: 50px;
                    height: 50px;
                    margin-top: 18px;
                    border-radius:100%;
                    background-color: #F7F8FA;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 36px;
                        width: 36px;
                    }
                }
                .name{
                    margin-top: 6px;
                    height: 21px;
                    line-height:21px;
                    font-size: 15px;
                    color: #505160;
                }
                .desc{
                    margin-top: 10px;
                    font-size: 14px;
                    color: #888998;
                    line-height:18px;
                }
                .btnGroup{
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    button{
                        width: 120px;
                        height: 36px;
                        border-radius: 2px;
                        border:none;
                        cursor: pointer;
                        font-size: 16px;
                        color: #FFFFFF;
                        &.cancel{
                            background: #C2C2D5;
                        }
                        &.confirm{
                            background: #636ACC;
                        }
                    }
                }
            }
        }
        .greyModal{
            overflow: auto;
            padding:14px 0 14px 16px;
            .title{
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                color: #888998;
            }
            .input{
                margin-right: 16px;
                margin-top: 10px;
                height: 34px;
                background: #F7F8FA;
                border-radius: 2px;
                padding:7px 12px;
                display: flex;
                flex-direction: row;
                align-items: center;
                input{
                    border:none;
                    background-color: transparent;
                    flex:1;
                    font-size: 12px;
                    color: #515060;
                    &::-webkit-input-placeholder{
                        color: #C2C8D5;
                    }
                }
                &:after{
                    content: '';
                    width: 18px;
                    height: 17px;
                    background-image: url('../images/new/ic_search.svg');
                }
                &.hasValue{
                    &:after {
                        background-image: url('../images/new/ic_search2.svg');
                    }
                }
            }
            .leftSpace{
                display: flex;
                flex-direction: column;
                flex: 1;
            }
            .cellWrap{
                .cell{
                    width: 100%;
                    height: 70px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-bottom:1px solid #EFEFEF;
                    padding-right: 20px;
                    & > img{
                        width: 34px;
                        height: 34px;
                        border-radius:100%;
                    }
                    .desc{
                        margin-left: 12px;
                        flex:1;
                        overflow: hidden;
                        .row1{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            line-height: 21px;
                            height: 21px;
                            font-size: 15px;
                            color: #505160;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            i{
                                font-weight: bold;
                                font-style: normal;
                                color: #76ab61;
                            }
                            img{
                                margin-left: 8px;
                                width: 12px;
                                height: 12px;
                            }
                            &.isVerify{
                                &:after {
                                    margin-left: 8px;
                                    width: 12px;
                                    height: 12px;
                                    content: '';
                                    background-image: url('../icon/icon-verify.svg');
                                }
                            }
                        }
                        .row2{
                            margin-top: 4px;
                            line-height:17px;
                            height: 17px;
                            font-size: 12px;
                            color: #888998;
                        }
                    }
                    .am-switch{
                        .checkbox{
                            width: 38px;
                            height: 17px;
                            border-radius:12px;
                            &:before,&:after{
                                top: 0.5px;
                            }
                            &:before{
                                box-shadow:none;
                                width: 36px;
                                height: 15px;
                                background-color: #C2C8D5;
                            }
                            &:after{
                                box-shadow:none;
                                width: 15px;
                                height: 15px;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }

        }
    }
    .pageHeader {
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        color: #505160;
        width: 100%;
        &LogoWrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo1{
                width: 120px;
                height: 95px;
                background-image: url('../icon/mask-logo.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
            //.logo2{
            //    margin-top: 10px;
            //    width: 100px;
            //    height: 20px;
            //    background-image: url('../images/new/logo2.svg');
            //    background-repeat: no-repeat;
            //}
        }
        &Text{
            height: 65px;
            line-height: 65px;
            font-size: 20px;
            color: #515060;
        }
        .detail{
            position: absolute;
            right:17px;
            font-size: 14px;
            color: #333;
            cursor: pointer;
        }
        .screenCapture{
            position: absolute;
            right:17px;
            cursor: pointer;
            width: 16px;
            height: 16px;
            background-image: url('../images/new/icon-share.svg');
        }
        .title{
            //font-size: 15px;
        }
        .help{
            cursor: pointer;
            position: absolute;
            right: 18px;
            top: 18px;
            width: 16px;
            height: 16px;
            background-image: url('../../assets/images/new/side/icon-help.svg');
        }
    }
    .greyModal {
        background: #EEEEEE;
        border-radius: 5px;
        padding: 25px;
        width: 100%;
        ::-webkit-input-placeholder {
             color: #C2C2D5;
        }
        .modalDesc {
            font-size: 13px;
            span{
                word-break: break-word;
            }
        }
        &.loginModel,&.registrationModel{
            background: transparent;
            padding:0;
            input,button,.customInput{
                height: 46px;
                line-height: 46px;
            }
            .customInput{
                background: #F7F8FA;
                border-radius: 2px;
                input{
                    text-align: center;
                }
            }
            .customButton.primary{
                background-color: #F7861C;
                border-radius: 2px;
            }
        }
        &.registrationModel{
            .customInput{
                background: #fff;
                border-bottom:1px solid #F0F0F0;
                border-radius: 2px;
                input{
                    text-align: left;
                }
            }
            .passwordNotForgot{
                margin-top: 20px;
                font-size: 12px;
                color: #888998;
                letter-spacing: 0;
                text-align:center;
            }
            .criteria{
                background-color: #fff;
                padding:4px 0;
                .statusIcon{
                    width: 20px;
                }
            }
            & > .inputGroup{
                &:nth-child(2){
                    margin:8px 0 30px 0;
                }
            }
        }
    }
    .errorModal {
        background: #c83434;
        width: 100%;
        border-radius: 4px;
        padding: 20px 15px;
        color: #FFFFFF;

        span:first-of-type {
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 15px;
            line-height: 15px;
        }

        span:last-of-type {
            display: block;
            margin-top: 10px;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
    }
}

.hasMargin {
    margin: 20px;
}

.hasTopMargin {
    margin-top: 20px;
}

.hasBottomMargin {
    margin-bottom: 20px;
}

.hasLeftMargin {
    margin-left: 20px;
}

.hasRightMargin {
    margin-right: 20px;
}

.unsupportedState {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    padding: 50px;
    text-align: center;
    cursor: pointer;
}

.buttonRow {
    display: flex;
    width: 100%;
    flex-direction: row;

    .customButton {
        flex: 1;
        margin: 0 10px;
    }

    .customButton:first-of-type {
        margin-left: 0;
    }

    .customButton:last-of-type {
        margin-right: 0;
    }
}

.scroll{
    overflow: auto;
    &:hover{
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: #C2C8D5;
            position:relative;
            left:-5px;
        }
    }
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: transparent;
        position:relative;
        left:-5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

